.netProfileCard{
    width: 70%;
    overflow: hidden;

    border-radius: 2%;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.netHeader{
    width: 100%;
    text-align: center;
   
    background-color : #DBDFEA;

}


@media (width <700px) {
    .netProfileCard{
        width: 90%;
    }
}