.logoBox{
 
    display: flex;
    justify-content: center;
    width: 30%;
    padding-right: 10%;
    font-size: 2rem;
    padding-top: 1rem;
    gap :25%;
}

.calenderBox{
    transition: all 0.4s ;
}
.calenderBox:hover{
    scale: 1.2;
    color: white;
}
.hotelBox{
    transition: all 0.4s ;
}
.hotelBox:hover{
    scale: 1.2;
    color: white;
}



@media (width < 700px){
    .logoBox{
        justify-content: end;
    }
}
